// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-blue: #0B132B;
$secondary-blue: #1C2541;
$additional-blue: #3A506B;
$secondary-green: #5BC0BE;
$primary-green: #6FFFE9;
